/* dindin */
* {
    
    font-family: 'Ubuntu', sans-serif;
    margin:0;

}

html {
    
    scroll-behavior: smooth;
}

.container-header {
    
    display: flex;
    background-color: #2E948A;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    
}

.container-header a {
    
    color: #FDFDFD;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;        
    font-weight: bold;
    padding-left: 2rem;
    text-decoration: none;
}

.container-header nav {
    margin-right: 5rem;

}

.container-header div {
    margin-left: 2.5rem;
}


.title-container{
    
    margin-left: 5.1rem;
    margin-top: 4.4rem;
    max-width:75%;

}

.container-text {

    display: flex ;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 0.35rem;

}

.main-title {

    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;

}

.container-main {
    
    background: #F7F7F7;
    flex-direction: column;
    
}

.container-main iframe {

    margin-left: 5.1rem;
    margin-top: 4.4rem;
    margin-bottom:5.1rem;

}

.main-content {
    
    margin-left: 5.1rem;
    margin-top: 2.5rem;
    margin-right: 3rem;

}

iframe {

    width: 462px;
    height: 261px;
    
}

h4 {

    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;

}

.text-container {
    
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

}

.content-flex {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 85%;
    
}

.line-content img {

    background: #F7F7F7;
    margin-left: 8.5rem;
}   

.container-footer {
    
    background-color: #419488;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;

}

.bottom-content a {
    
    text-align:left;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    
}

.bottom-content1 {
    
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;

}

.button-content2 a {

    border-radius: 62px;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    padding-left: 1.85rem;
    padding-right: 1.85rem;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #419488;

}

.button-content3 a {

    text-decoration: none;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border-radius: 62px;
    font-size: 20px;
    line-height: 40px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.25rem;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #419488;
    
}

@media screen and (max-width: 767px) {
   
    .container-header {
      
        flex-direction: column;
      
      
    }

    .container-header nav {
        
        margin: 0;    

    }


    .container-header div {

        margin: 0;
   
    }

    .title-container {

    text-align: center;

    
}

    .content-flex {
        
        flex-direction: column;
        margin: 0;
        text-align: center;

    }

    .main-content img {
                
        max-width: 85%;
        max-height:85%;
        
    }

    .container-footer {
        
        display: grid;
        justify-content: center ;
        padding-bottom:1rem;

    }

}

@media screen and (max-width: 767px) {
    
    .container-header {
      
        flex-direction: column;
        padding-left: -3rem;
        text-align: center;
           
    }

    .container-header nav {
        
        margin-right: 1.5rem;
   
    }

    .container-header div {
        
        margin-left: 0.5rem;
    }

    .title-container {

        padding-bottom: 2rem;
    
    }

    .line-content img {
        
        display: none

    }
    
    .content-flex {
        
        flex-direction: column;
        margin: 0;
        text-align: center;

    }

    .main-content img {
                
        max-width: 85%;
        max-height:85%;
        
    }

    .container-footer {
        
        flex-direction: column;
        justify-content: center ;
        align-content: center;
        margin-top:2rem;
        padding:0.5rem;

    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    

    .container-header {
        
        padding:2rem;
        display:flex;
        
    }
  
    .container-header nav {
        
        padding-right: 1.5rem;
        
    }
  
  
    .container-header div {
      
        margin-left: 1.5rem;

    }
    

    .title-container{
        
        margin-left: 5.1rem;
        margin-top: 4.4rem;
        padding-bottom: 1.5rem;

    }

    .line-content{ 
       
        display:none;

    }


    .content-flex{
        
        flex-direction: column;
        margin-left: 5rem;
        text-align: center;

    }

    .main-content {
        
        display:flex;
        width: 50%;
               
    }
    
    .main-content img {
                
        max-width: 85%;
        max-height:85%;
        
    }

    .container-text {
               
        padding-bottom: 5rem;
               
    }

    .container-footer {
        
        display: flex;
        padding-top :1%;
        padding-bottom :1%;
        margin-top: 2rem;
        
    }
}
    
  

