/* dindin */
* {
    
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
  
    
}


* header {
    background-color: #2E948A;
    color: #FDFDFD;
    justify-content:space-between;
    display: flex; 
    align-items: flex-end;
    ax-width: 1440px;
    max-height: 117px;

}




* footer {
    background-color: #2E948A;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.button-content a{
    text-decoration: none;
    color: #FDFDFD;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    justify-content:space-between;
    
    
}

.content-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}